In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame()

In [3]:
np.random.seed(0)

In [4]:
city=np.random.choice(3,20)
df['city']=city
gender=np.random.choice(2,20)
df['gender']=gender
income=np.random.random(20)*100

df['income']=income

In [5]:
df['disease']=[0,1,0,1,1,1,0,0,1,0,1,1,1,0,0,1,0,1,0,1]
df # toy dataset.

    city  gender     income  disease
0      0       0  72.063265        0
1      1       1  58.201979        1
2      0       0  53.737323        0
3      1       1  75.861562        1
4      1       0  10.590761        1
5      2       1  47.360042        1
6      0       1  18.633234        0
7      2       0  73.691818        0
8      0       1  21.655035        1
9      0       1  13.521817        0
10     0       0  32.414101        1
11     2       0  14.967487        1
12     1       1  22.232139        1
13     2       0  38.648898        0
14     2       1  90.259848        0
15     0       1  44.994999        1
16     1       1  61.306346        0
17     1       1  90.234858        1
18     1       1   9.928035        0
19     1       0  96.980907        1

In [6]:
p_no_disease=(df.shape[0] - df['disease'].sum())/df.shape[0] # equivalent to P(C0)
p_disease=df['disease'].sum()/df.shape[0] # equivalent to P(C1) refer to the equation above.

In [7]:
disease_df=df[df['disease']==1]
no_disease_df=df[df['disease']==0]

In [8]:
disease_df

    city  gender     income  disease
1      1       1  58.201979        1
3      1       1  75.861562        1
4      1       0  10.590761        1
5      2       1  47.360042        1
8      0       1  21.655035        1
10     0       0  32.414101        1
11     2       0  14.967487        1
12     1       1  22.232139        1
15     0       1  44.994999        1
17     1       1  90.234858        1
19     1       0  96.980907        1

In [9]:
disease_dic={'city':[],'gender':[]}
for city_number in range(3):
  p=((disease_df['city']==city_number).sum())/disease_df.shape[0]
  disease_dic['city'].append(p)

for gender in range(2):
  p=((disease_df['gender']==gender).sum())/disease_df.shape[0]   
  disease_dic['gender'].append(p)
mean_income_disease=disease_df['income'].mean()  
std_income_disease=disease_df['income'].std()

In [10]:
no_disease_dic={'city':[],'gender':[]}

for city_number in range(3):
  p=((no_disease_df['city']==city_number).sum())/no_disease_df.shape[0]
  no_disease_dic['city'].append(p)

for gender in range(2):
  p=((no_disease_df['gender']==gender).sum())/no_disease_df.shape[0]   
  no_disease_dic['gender'].append(p)
mean_income_no_disease=no_disease_df['income'].mean()  
std_income_no_disease=no_disease_df['income'].std()

In [11]:
city=1
gender=0
income=55.78

In [12]:
import scipy.stats

In [13]:
# we need to find pdf of income=25.78 for both disease and no_disease normal distributions.
p_income_disease=scipy.stats.norm(mean_income_disease,std_income_disease).pdf(income)
p_city_disease=disease_dic['city'][city]
p_gender_disease=disease_dic['gender'][gender]

# now we multiply these three probabilities with the p(disease) to get probability of disease for this sample
p_disease_sample= p_income_disease*p_city_disease*p_gender_disease*p_disease
p_disease_sample

0.001377582518539877

In [14]:
p_income_no_disease=scipy.stats.norm(mean_income_no_disease,std_income_no_disease).pdf(income)
p_city_no_disease=no_disease_dic['city'][city]
p_gender_no_disease=no_disease_dic['gender'][gender]

# now we multiply these three probabilities with the p(no_disease) to get probability of no_disease for this sample
p_no_disease_sample= p_income_no_disease*p_city_no_disease*p_gender_no_disease*p_no_disease
p_no_disease_sample

0.0005858417103527453

In [15]:
p_disease_sample>p_no_disease_sample

True